body {
  background: url("../img/background4.jpg");

  nav{
    margin: 10px auto 50px;
    width: 90%;
  }
  main.container {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 20px;
    opacity: 0.5;
  }

  .preview {
    max-height: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .delete {
    display: inline;
  }
}