body {
  background: url("../../img/background4_dark.jpg");

  nav{
    margin: 10px auto 50px;
    width: 90%;
  }
  .opacity {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 20px;
    opacity: 0.5;
  }

  .preview {
    max-height: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .delete {
    display: inline;
  }

  #topNews{
    display: block;
    margin: 0 auto;
  }

  .table-striped-dark{
    background: transparent;
  }

  .table-striped-dark tbody{
    color: #00aaff;
  }

  .table-striped-dark tbody > tr:nth-child(odd){
    background: rgba(54, 54, 53, 0.5);
  }

  .table-striped-dark tbody > tr:nth-child(even){
    background: rgba(76, 76, 75, 0.5);
  }

  .table-striped-dark tbody > tr:hover{
    background: #505050;
  }

  .productsPreview img{
    max-width: 98%;
  }/*

  input.file {
    width: 150px;
    height: 20px;
    border: 1px solid #BBB;
    border-right: 0;
    color: #888;
    padding: 5px;

    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    outline: none;
  }

  div.uploadProfilePic {
    width: 100px;
    height: 30px;
    background: #7abcff;
    background: -moz-linear-gradient(top,  #7abcff 0%, #60abf8 44%, #4096ee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee));
    background: -webkit-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%);
    background: -o-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%);
    background: -ms-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%);
    background: linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 );

    display: inline;
    position: absolute;
    overflow: hidden;
    cursor: pointer;

    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    font-weight: bold;
    color: #FFF;
    text-align: center;
    padding-top: 8px;
  }
  div.uploadProfilePic:before {
    content: 'UPLOAD';
    position: absolute;
    left: 0; right: 0;
    text-align: center;

    cursor: pointer;
  }

  div.uploadProfilePic input {
    position: relative;
    height: 30px;
    width: 250px;
    display: inline;
  }
*/
}